:host {
  display: block;
  height: 100%;
}

.poke-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 170px), 1fr));
}

@media (min-width: 640px) {
  .poke-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
