:host {
  width: 100%;
  display: block;
}

.tab-nav__link:hover {
  color: var(--color-brand-text);
}

.tab-nav__link--active {
  color: var(--color-brand-text);
  border-bottom-color: var(--color-brand-red);
}
